@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,400);

* {
	margin: 0;
	padding: 0;
	font-weight: 300;
}

html, body, #map-canvas {
	margin: 0;
	padding: 0;
	height: 100%;
}

.clear { clear: both; }

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	overflow: hidden;
}

/*** Typography ***/

h1, h2, h3 { font-family: 'Open Sans Condensed', sans-serif;}
h1 { font-size: 2.2em; padding: 16px 0 16px 16px; display: block; }
h2 { font-size: 1.6em; padding: 0 0 2px 0; }
a { text-decoration: none; color: inherit; }
p { font-size: 0.8em; }
address { font-size: .7em; }

/*** Block Elements ***/
nav {
	background-color: #e6e1d5;
	float: left;
	height: 100%;
	overflow-y: scroll;
}

.place {
	display: block;
	padding: 8px 16px 14px;
}

.place:visited { }
.place:hover { background-color: rgba(255,255,255,0.5); cursor: default; } 


.work, .eat, .interest, .homes {
	display: block;
	width: 26.0em;
	padding-bottom: 24px;
}

.work {	background-color: #2ecc71; }
.eat { background-color: #f7ce2a; }
.interest { background-color: #ea6455; }
.homes { background-color: #95a5a6; }

.work h2:before, .eat h2:before, .interest h2:before, .homes h2:before {
	display: block;
	float: left;
	margin: 2px 8px 0 0;
}

/* Work H2 Icons */
.work h2.a:before { content: url(img/circle-work-a.png); }
.work h2.b:before { content: url(img/circle-work-b.png); }
.work h2.c:before { content: url(img/circle-work-c.png); }
.work h2.d:before { content: url(img/circle-work-d.png); }

/* Eat H2 Icons */
.eat h2.a:before { content: url(img/circle-eat-a.png); }
.eat h2.b:before { content: url(img/circle-eat-b.png); }
.eat h2.c:before { content: url(img/circle-eat-c.png); }
.eat h2.d:before { content: url(img/circle-eat-d.png); }
.eat h2.e:before { content: url(img/circle-eat-e.png); }
.eat h2.f:before { content: url(img/circle-eat-f.png); }
.eat h2.g:before { content: url(img/circle-eat-g.png); }
.eat h2.h:before { content: url(img/circle-eat-h.png); }

/* Interest H2 Icons*/
.interest h2.a:before { content: url(img/circle-interest-a.png); }
.interest h2.b:before { content: url(img/circle-interest-b.png); }
.interest h2.c:before { content: url(img/circle-interest-c.png); }
.interest h2.d:before { content: url(img/circle-interest-d.png); }
.interest h2.e:before { content: url(img/circle-interest-e.png); }
.interest h2.f:before { content: url(img/circle-interest-f.png); }
.interest h2.g:before { content: url(img/circle-interest-g.png); }

/* Homes H2 Icons */
.homes h2.a:before { content: url(img/circle-homes-a.png); }
.homes h2.b:before { content: url(img/circle-homes-b.png); }
.homes h2.c:before { content: url(img/circle-homes-c.png); }